.article {
  width: 1200px;
  height: 600px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 5px 15px gray;
  margin: 0 auto;
  padding: 30px;
}
.article > img {
  width: 300px;
  border-radius: 5px;
  display: inline-block;
}
.article__movieInfo {
  width: 870px;
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
}
.article__movieInfo > div {
  margin-top: 30px;
}
.article__movieInfo > ul > li {
  display: inline-block;
  margin-right: 10px;
}
