html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #eff3f7;
  height: 100%;
}
h3,
ul,
p {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
.container {
  width: 1300px;
  height: 100%;
  margin: 0 auto;
}
.loader {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.movies {
}
